[Desktop Entry]
Encoding=UTF-8
Name=Hemp0x Core
Comment=Connect to the Hemp0x P2P Network
Comment[de]=Verbinde mit dem Hemp0x peer-to-peer Netzwerk
Comment[fr]=Hemp0x, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Hemp0x, eşten eşe kriptografik sanal para birimi
Exec=hemp0x-qt %u
Terminal=false
Type=Application
Icon=hemp0x128
MimeType=x-scheme-handler/hemp0x;
Categories=Office;Finance;
