policy_module(hemp0x, 1.100.1)

########################################
#
# Declarations
#

type hemp0x_t;
type hemp0x_exec_t;
init_daemon_domain(hemp0x_t, hemp0x_exec_t)

permissive hemp0x_t;

type hemp0x_initrc_exec_t;
init_script_file(hemp0x_initrc_exec_t)

type hemp0x_conf_t;
files_type(hemp0x_conf_t)

type hemp0x_var_lib_t;
files_type(hemp0x_var_lib_t)

type hemp0x_var_run_t;
files_type(hemp0x_var_run_t)

type hemp0x_port_t;
corenet_port(hemp0x_port_t)

########################################
#
# hemp0x local policy
#
allow hemp0x_t self:process { fork };

allow hemp0x_t self:fifo_file rw_fifo_file_perms;
allow hemp0x_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(hemp0x_t, hemp0x_conf_t, hemp0x_conf_t)
manage_files_pattern(hemp0x_t, hemp0x_conf_t, hemp0x_conf_t)

manage_dirs_pattern(hemp0x_t, hemp0x_var_lib_t, hemp0x_var_lib_t)
manage_files_pattern(hemp0x_t, hemp0x_var_lib_t, hemp0x_var_lib_t)
files_var_lib_filetrans(hemp0x_t, hemp0x_var_lib_t, { dir file })

manage_dirs_pattern(hemp0x_t, hemp0x_var_run_t, hemp0x_var_run_t)
manage_files_pattern(hemp0x_t, hemp0x_var_run_t, hemp0x_var_run_t)

sysnet_dns_name_resolve(hemp0x_t)
corenet_all_recvfrom_unlabeled(hemp0x_t)

allow hemp0x_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(hemp0x_t)
corenet_tcp_sendrecv_generic_node(hemp0x_t)
corenet_tcp_sendrecv_all_ports(hemp0x_t)
corenet_tcp_bind_generic_node(hemp0x_t)

gen_require(`
    type hemp0x_port_t;
')
allow hemp0x_t hemp0x_port_t:tcp_socket name_bind;

gen_require(`
    type hemp0x_port_t;
')
allow hemp0x_t hemp0x_port_t:tcp_socket name_connect;

domain_use_interactive_fds(hemp0x_t)

files_read_etc_files(hemp0x_t)

miscfiles_read_localization(hemp0x_t)

sysnet_dns_name_resolve(hemp0x_t)

allow hemp0x_t hemp0x_exec_t:file execute_no_trans;
allow hemp0x_t self:process setsched;
corecmd_exec_ls(hemp0x_t)
corenet_tcp_connect_http_port(hemp0x_t)
dev_read_urand(hemp0x_t)
fs_getattr_xattr_fs(hemp0x_t)
kernel_read_system_state(hemp0x_t)
